In [2]:
s="Sahasa"
for x in s :
    print(x)

S
a
h
a
s
r
a

In [3]:
s=input("Enter some String: ")
i=0
for x in s :
    print("The character present at ",i,"index is :",x)
    i=i+1

Enter some String:  qwerty

The character present at  0 index is : q
The character present at  1 index is : w
The character present at  2 index is : e
The character present at  3 index is : r
The character present at  4 index is : t
The character present at  5 index is : y

In [4]:
s = 'Hello'
for i in range(1,11):
    print(s)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [5]:
s = 'Hello'
for i in range(10):
    print(s)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [6]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(21):
    if(i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19

In [9]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [11]:
list=eval(input("Enter List:"))
sum=0;
for x in list:
    sum=sum+x;
    print("The Sum=",sum)

Enter List: 1,2,3

The Sum= 1
The Sum= 3
The Sum= 6

In [12]:
x=1
while x <=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [14]:
n=int(input("Enter number:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("The sum of first",n,"numbers is :",sum)

Enter number: 3

The sum of first 3 numbers is : 6

In [15]:
name=""
while name!="Karthi":
    name=input("Enter Name:")
print("Thanks for confirmation")

Enter Name: karthi
Enter Name: Karthi

Thanks for confirmation

In [16]:
n = int(input("Enter number of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter number of rows: 4

*
* *
* * *
* * * *

In [18]:
# q1Write a Python program to find those numbers which are divisible
#by 2 and multiples of 5, between 1500 and 2700 (both included).
for num in range(1500, 2701):
    if num % 2 == 0 and num % 5 == 0:
        print(num)

1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250
2260
2270
2280
2290
2300
2310
2320
2330
2340
2350
2360
2370
2380
2390
2400
2410
2420
2430
2440
2450
2460
2470
2480
2490
2500
2510
2520
2530
2540
2550
2560
2570
2580
2590
2600
2610
2620
2630
2640
2650
2660
2670
2680
2690
2700

In [19]:
#2. Write a Python program that accepts a sentence from the user and
#change the case.
sentence = input("Enter a sentence: ")
modified_sentence = ""

for char in sentence:
    if char.isupper():
        modified_sentence += char.lower()
    elif char.islower():
        modified_sentence += char.upper()
    else:
        modified_sentence += char

print("Modified sentence:", modified_sentence)

Enter a sentence:  this is python lab

Modified sentence: THIS IS PYTHON LAB

In [3]:
#3. Write a Python program to count the number of even and odd numbers
#in a series of 15 numbers.

start = int(input("Enter the starting number of the series: "))
end = start + 15

even_count = 0
odd_count = 0

for num in range(start, end + 1):
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Enter the starting number of the series:  2

Number of even numbers: 8
Number of odd numbers: 8

In [1]:
#Q4Write a Python program to get the Fibonacci series between 5 and
#25.

a, b = 0, 1
while a <= 25:
    if a >= 5:
        print(a, end=" ")
    a, b = b, a + b

5 8 13 21

In [4]:
#Q5Write a Python program that takes two digits m (row) and n
#(column) as input and generates a two-dimensional array. The element
#value in the i-th row and j-th column of the array should be i*j.
m = int(input("Enter the number of rows (m): "))
n = int(input("Enter the number of columns (n): "))
two_dimensional_array = []

for i in range(m):
    row = []
    for j in range(n):
        row.append(i * j)
    two_dimensional_array.append(row)
print("Two-dimensional array:")
for row in two_dimensional_array:
    print(row)

Enter the number of rows (m):  2
Enter the number of columns (n):  3

Two-dimensional array:
[0, 0, 0]
[0, 1, 2]

In [6]:
#Q6Write a Python program that accepts a string and calculates the
#number of digits and letters.
string = input("Enter a string: ")
digit_count = 0
letter_count = 0
for char in string:
    if char.isdigit():
        digit_count += 1
    
    elif char.isalpha():
        letter_count += 1
print("Number of digits:", digit_count)
print("Number of letters:", letter_count)

Enter a string:  qwe2

Number of digits: 1
Number of letters: 3

In [5]:
#Q7Write a Python program to check whether an alphabet is a vowel or
#consonant.
alphabet = input("Enter an alphabet: ")
alphabet = alphabet.lower()
if len(alphabet) == 1:
    
    if alphabet.isalpha():
        
        if alphabet in 'aeiou':
            print(f"{alphabet} is a vowel.")
        else:
            print(f"{alphabet} is a consonant.")
    else:
        print("Please enter a valid alphabet.")
else:
    print("Please enter a single alphabet.")

Enter an alphabet:  t

t is a consonant.

In [5]:
#Q8write a python program to convert a month name to  number of days 
month_name = input("Enter the month name: ")
month_name = month_name.capitalize()
if month_name in ["January", "March", "May", "July", "August", "October", "December"]:
    print(f"Number of days in {month_name}: 31")
elif month_name == "February":
    print("Number of days in February: 28") 
elif month_name in ["April", "June", "September", "November"]:
    print(f"Number of days in {month_name}: 30")
else:
    print("Invalid month name")

Enter the month name:  july

Number of days in July: 31

In [9]:
#Q9. Write a Python program to create the multiplication table (from 1
#to 10) of a number.

num = int(input("Enter a number: "))
print(f"Multiplication table for {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number:  7

Multiplication table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [6]:
#10.Write a Python program to construct the following pattern, using a nested loop
#number.
#Expected Output:
#1
#22
#333
#4444
rows = 4
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i, end="")
    print("")

1
22
333
4444